body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    color: #333;
}

/*Centrar el encabezado y aumentar Tamaño*/
h1{
    text-align: center;
    font-size: 3rem;
    margin: 50px 0;
    background-color: #003366;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
}

/*Contenedor de las secciones*/
.sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

/*Estilo para cada seccion*/
.section{
    padding: 20px;
    background-color: #800020;
    color: white;
    border-radius: 8px;
    text-align: center;
    flex-basis: calc(33.33% - 20px); /* Ancho fijo para las secciones */
    margin: 0 10px; /*Espaciado entre secciones*/
    font-size: 1.5rem;
    font-weight: bold;
}

.section:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section a{
    font-size: 1.5rem;
    font-weight: bold;
}

/* Contenedor de proyectos, aparece debajo del enlace */
.projects-container {
    margin-top: 20px; /* Añadimos un margen superior para separar de la sección anterior */
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column; /* Mantener los proyectos en columna */
    align-items: center;
}

/* Estilo para cada proyecto dentro del contenedor */
.project-item {
    display: flex;
    flex-direction: row; /* Cambiado a fila para alinear imagen y nombre al lado */
    align-items: center;
    margin: 15px 0; /* Aseguramos espacio entre los proyectos */
}

/* Estilo de las imágenes */
.project-item img {
    width: 100px; /* Ajusta el tamaño de las imágenes */
    height: 100px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 8px;
    margin-right: 15px; /* Espacio entre la imagen y el nombre */
}

/* Estilo del nombre del lenguaje */
.lenguaje-name {
    background-color: #4d4d4d;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.content-box{
    width: calc(33.33% - 20px); /* Mismo ancho que las secciones menos el margen */
    margin: 20px 0 20px 50px; /* Margen superior e inferior, alineado a la izquierda */
    background-color: white; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Sombra suave para el recuadro */
}